@font-face {
  font-family: "Segoe WP";
  src: url(assets/fonts/segoe-wp-cufonfonts/SegoeWP.ttf);
}

@font-face {
  font-family: "Segoe WP light";
  src: url(assets/fonts/segoe-wp-light.ttf);
}

@font-face {
  font-family: "Asap";
  src: url(assets/fonts/asap/Asap-Regular.otf);
}

@font-face {
  font-family: "Segoe UI";
  src: url(assets/fonts/segoe-ui-4-cufonfonts/Segoe\ UI.ttf);
}

@font-face {
  font-family: "PT Sans";
  src: url(assets/fonts/pt-sans/PTS55F.ttf);
}

@font-face {
  font-family: "PT Sans narrow";
  src: url(assets/fonts/pt-sans/PTN57F.ttf);
}

@font-face {
  font-family: "Open Sans";
  src: url(assets/fonts/open-sans/OpenSans-Regular.ttf);
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

header {
  width: 100%;
  background-image: url("assets/Layer\ 20.svg");
  height: 565px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.wrapper-header {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
  height: 112px;
}

.logo {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.logotext {
  position: absolute;
  left: 101px;
  bottom: 21px;
  font-family: "Segoe WP", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 41px;
  letter-spacing: 0px;
  color: #ffffff;
  font-style: italic;
}

nav {
  position: absolute;
  display: flex;
  right: 4px;
  bottom: 1px;
  width: 453px;
  height: 40px;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 0px;
  color: #9b7d08;
  font-family: "Segoe WP", Arial, sans-serif;
  text-align: center;
  box-shadow: -4px -5px 0px #f5c5063f, -8px -9px 0px #f5c5063f;
}

.about-us {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 174px;
  background-color: #f5c506;
  border-right: 1px solid #dcb105;
}

.about-us div {
  width: 95px;
}

.services {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 132px;
  background-color: #f5c506;
  border-right: 1px solid #dcb105;
}

.services div {
  width: 95px;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 147px;
  background-color: #f5c506;
}

.contact div {
  width: 95px;
}

.wrapper-player {
  max-width: 1024px;
  margin: 0 auto;
}

.player {
  position: relative;
  max-width: 549px;
  max-height: 327px;
  top: -397px;
  left: 10px;
}

.player video {
  position: absolute;
  max-width: 549px;
  height: 327px;
  object-fit: cover;
  object-position: 77%;
}

.player #play-pause-center {
  position: absolute;
  left: 240px;
  top: 130px;
  background-color: #f5c506;
  opacity: 0.72;
  width: 67px;
  height: 67px;
  border: none;
  border-radius: 50%;
}

.player #play-pause-center img {
  width: 19px;
  height: 33px;
  margin-left: 8px;
}

.player #play-pause-bottom {
  position: absolute;
  left: 30px;
  top: 278px;
  background-color: #f5c506;
  opacity: 0.37;
  width: 27px;
  height: 27px;
  border: none;
}

.player #play-pause-bottom img {
  width: 10px;
  height: 17px;
  margin-left: 2px;
  margin-top: 4px;
}

.player progress {
  position: absolute;
  left: 80px;
  top: 286px;
  width: 404px;
  height: 12px;
  -webkit-appearance: none;
}

::-webkit-progress-bar {
  background-color: #f5c50662;
  border-radius: 5px;   
}

::-webkit-progress-value {
  background-color: #f5c507;
  border-radius: 5px 0px 0px 5px;
} 

.player #mute {
  position: absolute;
  left: 508px;
  top: 284px;
  background-color: transparent;
  border: none;
}

.player #mute img {
  width: 15px;
  height: 15px;
}

.cool, .minimal {
  text-transform: uppercase;
  font-size: 63px;
  letter-spacing: 1px;
  font-family: "Asap", Arial, sans-serif;
  font-weight: 400;
  text-align: center;
}

.cool {
  position: relative;
  color: #f5c506;
  top: -317px;
  left: 287px;
}

.minimal {
  position: relative;
  color: #ffffff;
  top: -303px;
  left: 295px;
}

.slider {
  position: relative;
}

#slider-left, #slider-right {
  position: absolute;
  top: 300px;
  width: 32px;
  height: 57px;
  background-color: #f5c506;
  border: none;
}

#slider-right {
  right: 0px;
}

#slider-left {
  opacity: 0.72;
  left: 0px;
}

.wrapper-icons {
  width: 100%;
  height: 212px;
  background-image: url("assets/Layer\ 7.png");
  margin-top: -125px;
  box-shadow: 0px 2px 10px #000000e1;
}

.icons {
  height: inherit;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  max-width: 1024px;
  margin: 0 auto;
  font-size: 27px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #000000;
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 300;
  text-align: center;
}

.design, .customise, .free {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 341px;
  border-left: 1px solid #0000001c;
}

.free {
  border-right: 1px solid #0000001c;
}

.design img {
  margin-left: -5px;
  margin-top: 28px;
}

.design div {
  margin-left: 17px;
  margin-top: 14px;
}

.customise img {
  margin-left: 19px;
  margin-top: 6px;
}

.customise div {
  margin-left: 16px;
  margin-top: 17px;
}

.free img {
  margin-left: -27px;
  margin-top: 19px;
}

.free div {
  margin-left: -23px;
  margin-top: 13px;
}

.wrapper-section1 {
  max-width: 100%;
  height: 510px;
  background-image: url("assets/Layer\ 10\ copy\ 3.svg");
  background-size: 100%;
  box-shadow: inset 0px 2px 10px #000000e1;
}

.section1 {
  display: flex;
  flex-flow: row wrap;
  max-width: 1024px;
  margin: 0 auto;
}

.heading-section {
  display: flex;
  align-items: center;
  width: 100%;
  height: 110px;
}

h4 {
  font-size: 37px;
  letter-spacing: 0px;
  color: #ffffff;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.text-section {
  position: relative;
  background-color: #ec9e03;
  width: 341px;
  height: 233px;
}

.text-section article {
  position: absolute;
  top: 17px;
  left: 30px;
  font-size: 29px;
  letter-spacing: 0px;
  line-height: 38px;
  color: #ffffff;
  font-family: "Segoe WP light", Arial, sans-serif;
  font-weight: 300;
}

.text-section img {
  position: absolute;
  right: 14px;
  bottom: 12px;
  cursor: pointer;
}

.text-section img:hover {
  transform: scale(1.5);
}

.video-section {
  position: relative;
  width: 316px;
  height: 233px;
}

.video-section video {
  position: absolute;
  width: 316px;
  height: 233px;
  object-fit: cover;
  object-position: 23%;
}

.video-section #play-pause {
  position: absolute;
  left: 130px;
  top: 94px;
  background-color: #f5c506;
  opacity: 0.72;
  width: 61px;
  height: 61px;
  border: none;
  border-radius: 50%;
}

#play-pause img {
  margin-left: 8px;
  margin-top: 4px;
}

.twitter-section {
  position: relative;
  margin-left: 33px;
  background-color:  #ec9e03;
  width: 328px;
  height: 233px;
}

.twitter-section p {
  position: absolute;
  right: 16px;
  top: 10px;
  font-size: 25px;
  letter-spacing: 0px;
  line-height: 38px;
  color: #ffffff;
  font-family: "Segoe WP", Arial, sans-serif;
  font-weight: 300;
}

.twitter-section .twitter {
  position: absolute;
  left: 82px;
  top: 57px;
}

.twitter-section .add-icon {
  position: absolute;
  right: 9px;
  bottom: 12px;
  cursor: pointer;
}

.twitter-section .add-icon:hover {
  transform: scale(1.5);
}

.date-section {
  position: relative;
  width: 112px;
  height: 87px;
  background-color: #ddb101;
}

.date-section .date {
  position: absolute;
  top: 13px;
  left: 31px;
  font-size: 51px;
  letter-spacing: 1px;
  line-height: 38px;
  color: #ffffff;
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: bold;
}

.date-section .month {
  position: absolute;
  top: 51px;
  left: 33px;
  font-size: 21px;
  letter-spacing: 0px;
  line-height: 38px;
  color: #b26529;
  font-family: "Segoe UI", Arial, sans-serif;
  text-transform: uppercase;
}

.scroll-bar {
  margin-top: 129px;
  margin-left: -37px;
  height: 16px;
  width: 897px;
  background-color: #ffffffff;
  opacity: 0.48;
  border-radius: 10px;
}

.scroll-thumb {
  height: 16px;
  width: 197px;
  margin-left: 245px;
  background-color: #ec9e03;
  border-radius: 10px;
}

.wrapper-section2 {
  max-width: 100%;
  height: 495px;
  background-image: url("assets/Layer\ 32.png");
}

.section2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 135px;
}

.heading h3 {
  font-size: 43px;
  letter-spacing: 0px;
  color: #f5c506;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.aside-text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 93px;
  width: 116px;
  height: 116px;
  background-color: #f5c506;
  border-radius: 50%;
  align-content: center;
}

.aside-text p {
  font-size: 19px;
  letter-spacing: 0px;
  color: #ffffff;
  font-family: "PT Sans narrow", Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.computer {
  margin-left: 17px;
  margin-top: -22px;
}

.tablet {
  margin-left: -75px;
  margin-top: -22px;
}

.mobile {
  margin-bottom: -90px;
  margin-left: -75px;
}

.list {
  margin-right: -14px;
  margin-top: 47px;
  width: 380px;
} 

.list ul {
  list-style-position: outside;
  list-style-image: url("assets/Ellipse\ 4.svg");
  line-height: 1.15;
}

.list li {
font-size: 22px;
letter-spacing: 0px;
color: #a9a9a7;
font-family: "Open Sans", Arial, sans-serif;
font-weight: 400;
margin-bottom: 21px;
padding-left: 14px;
}

footer {
  width: 100%;
  background-color: #4c4c4c;
  height: 65px;
  box-shadow: 0px 2px 10px #000000e1;
}

.wrapper-footer {
  display: flex;
  align-items: center;
  max-width: 1024px;
  margin: 0 auto;
}

.wrapper-footer img {
  width: 55px;
  height: 55px;
  margin-top: 8px;
}

.wrapper-footer h1 {
  margin-left: 8px;
  margin-top: 8px;
  text-transform: uppercase;
  font-size: 29px;
  letter-spacing: 0px;
  color: #ffffff;
  font-family: "Lucida Sans", Arial, sans-serif;
  font-style: italic;
  text-align: center;
  text-shadow: 1px 1.732px 0px rgba(0,0,0,0.42); 
}

